/* Navbar container */
.welcome-page {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: scroll;
    background-color: #FFFAF0
}

.navbar {
    font-family: Arial;
    display: flex;
    width: 100%;
    height: 7%;
    overflow: hidden;
    align-items: center;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 24px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

#nav-left {
    width: 80px;
    height: 80px;
}

#nav-logo {
    width: 155px;
    margin-left: 5%;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 320px;
    min-width: 320px;
    height: 550px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-aisle {
    font-size: 20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 30px 30px 30px 30px;
    width: 250px;
    min-width: 250px;
    height: 440px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
}

#nav-items {
    width: 100%;
    height: 11.7%;
    text-align: center;
}

.dropdown:hover .dropdown-aisle {
    display: block;
}

.dropdown-aisle a:hover {
    background-color: #ddd;
}


#nav-right {
    width: auto;
    float: right;
}

#blank {
    height: 30px;
    background-color: #dcdcdc
}

#containers {
    height: 90%;
    margin-left: 20%;
    margin-right: 20%;
    /* position: fixed; */
}

#main-page-picture {
    height: 350px;
}

#main-page-picture img {
    width: 100%;
    height: 100%;
}

#main-containers {
    margin-top: 70px;
}

.containers-top {
    display: flex;
}

h6 {
    margin-left: 100px;
}

.main-page-container {
    height: 500px;
    width: 100%;
}
